    {% extends "/alogin/alayout.html" %}

    {% block content %}
    <p> hi</p>
    <h1>Features Page</h1>
    <p>Welcome to the features page of the Edu Blog. Here you can find various features and functionalities that enhance your blogging experience.</p>
    <ul>
        <li>Feature 1: User Authentication</li>
        <li>Feature 2: Rich Text Editing</li>
        <li>Feature 3: Commenting System</li>
        <li>Feature 4: Tagging and Categories</li>
        <li>Feature 5: Responsive Design</li>
    </ul>
    {% endblock %}